  <%- include('chatbot') %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/chatbot.js"></script>
</body>
</html>
